---
import "../styles/global.css";
import { Navbar } from "@/components/ui/navbar";
import { Hero } from "@/components/ui/hero";
import { HeroNav } from "@/components/ui/hero-nav";
import { About } from "@/components/ui/about";
import { WorkExperience } from "@/components/ui/work-experience";
import { Projects } from "@/components/ui/projects";
import { Contact } from "@/components/ui/contact";
import { Footer } from "@/components/ui/footer";
import { FluidCursor } from "@/components/ui/fluid-cursor";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sanchit - Developer Portfolio</title>
	</head>
	<body class="bg-page-bg">
		<FluidCursor client:load />
		<Navbar client:load />
		<section class="min-h-screen flex flex-col items-center justify-center px-4 gap-20">
			<Hero client:load />
			<HeroNav client:load />
		</section>
		
		<div id="about">
			<About client:visible />
		</div>

		<div id="work">
			<WorkExperience client:visible />
		</div>

		<div id="projects">
			<Projects client:visible />
		</div>

		<div id="contact">
			<Contact client:visible />
		</div>

		<Footer />
	</body>
</html>
