---
import "../styles/global.css";
import { Typography } from "@/components/ui/typography";
import { Navbar } from "@/components/ui/navbar";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - Typography Demo</title>
	</head>
	<body class="bg-page-bg">
		<Navbar client:load />
		<div class="container mx-auto px-4 py-12 max-w-4xl mt-20">
			<Typography client:load variant="display" font="display">
				Bitcount Display
			</Typography>
		</div>
	</body>
</html>
