---
import "../styles/global.css";
import { Navbar } from "@/components/ui/navbar";
import { Hero } from "@/components/ui/hero";
import { HeroNav } from "@/components/ui/hero-nav";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sanchit - Developer Portfolio</title>
	</head>
	<body class="bg-page-bg">
		<Navbar client:load />
		<div class="min-h-screen flex flex-col items-center justify-center px-4 gap-20">
			<Hero client:load />
			<HeroNav client:load />
		</div>
	</body>
</html>
