name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10.10.0
        
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'pnpm'
        
    - name: Install dependencies
      run: pnpm install
      
    - name: Build project
      run: pnpm build
      
    - name: Deploy to VPS
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "dist/*"
        target: "/tmp/portfolio-deploy"
        strip_components: 1
        
    - name: Move files and restart Nginx
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          sudo rm -rf /var/www/sanchxt.com/*
          sudo cp -r /tmp/portfolio-deploy/* /var/www/sanchxt.com/
          sudo chown -R www-data:www-data /var/www/sanchxt.com
          sudo chmod -R 755 /var/www/sanchxt.com
          sudo systemctl reload nginx
          rm -rf /tmp/portfolio-deploy
          echo "yay lesgo, deployment completed successfully"
